name: Java CI (Maven)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]   
  pull_request:
    branches: [ "main" ]   


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build + Tests + JaCoCo
        run: mvn -B clean test
